body {
  background-color: #E9D597;
  color: #231161;
  margin: auto;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

/* Styling for search bar */
.searchForm {
    display: flex;
    text-align: center;
    flex: 0 40%;
    justify-content: center;
}
.dropdown {
    height: 40px;
    border-right: none;
    border-radius: 5px 0px 0px 5px;
    flex: 0 10%;
    text-align: center;
}
.searchBar {
    height: 40px;
    border-radius: 0px 5px 5px 0px;
    flex: 0 80%;
}
.searchButton {
    top: -1px;
    height: 40px;
    border-radius: 5px;
    margin-left: 10px;
    flex: 0 10%;
}

.navBar {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    flex-direction: row;
}

#navBarOverride {
    border-bottom: 1px #231161;
}

.logInButton{
    padding-right: 2.5rem;
}
.brand {
    padding-left: 2.5rem;
    color: #231161;
}
.nav-link{

}


.footer-contact {
    flex: 0 33%;
}
.footer-policy {
    justify-content: center;
    flex: 0 33%;
}
.footer-brand {  
    flex: 0 33%;
}



/* Styling for post cards */
.postPage {
    display: block;
    text-align: center;
    padding: 2rem;
}

.card {
    display: inline-block;
    margin: .5rem;
    text-align: left;

}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: contain;
}

.card-title {
    text-align: center;
}



.resultsInfo {
    display: flex;
    padding: .5rem;
}

.resultsNumber {
    margin-right: auto;
}

.sortBy {
    margin-left: auto;
}


.title{
    text-align: center;
}

/*
.auth-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    padding-top: .5rem;
}

.auth-inner {
    width: 450px;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
}
*/
.auth-wrapper {
    align-items: center;
}
.upload-form {
    display: flex;
    flex-direction: column;
    padding-top: .5rem;
    justify-content: center;
    width: 45%;
    margin: auto;
}

.upload-group {
    display: flex;
    flex-direction: row;
}

.upload-text {
    width: 50%;
    margin-left: 10%;
}
.upload-file {
    margin-left: 10%;
}

.upload-btn{
    margin-left: auto;
    width: 15%;
}

.home-title{
    text-align: center;
}
.home-description {
    text-align: center;
    padding: .5rem;
    margin: .5rem;
}