body {
  background-color: #E9D597;
  color: #231161;
  margin: auto;
  padding-top: 3.5rem;
  padding-bottom: 2.5rem;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

/* Styling for search bar */
.searchForm {
    display: flex;
    text-align: center;
    flex: 0 40%;
    justify-content: center;
}
.dropdown {
    height: 40px;
    border-right: none;
    border-radius: 5px 0px 0px 5px;
    flex: 0 10%;
    text-align: center;
}
.searchBar {
    height: 40px;
    border-radius: 0px 5px 5px 0px;
    flex: 0 80%;
}
.searchButton {
    top: -1px;
    height: 40px;
    border-radius: 5px;
    margin-left: 10px;
    flex: 0 10%;
}

.navBar {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    flex-direction: row;
}

#navBarOverride {
    border-bottom: 1px #231161;
}

.logInButton{
    padding-right: 2.5rem;
}
.brand {
    padding-left: 2.5rem;
    color: #231161;
}
.nav-link{

}

.footer {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
}
.footer-contact {
    text-align: left;
    flex: 0 30%;
    padding-left: 2.5rem;
}
.footer-policy {
    justify-content: center;
    flex: 0 30%;
}
.footer-brand {
    padding-right: 2.5rem;
    margin-left: auto;
}



/* Styling for post cards */
.postPage {
    display: block;
    text-align: center;
    padding: 2rem;
}

.card {
    display: inline-block;
    margin: .5rem;
    text-align: left;

}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: contain;
}

.card-title {
    text-align: center;
}



.resultsInfo {
    display: flex;
    padding: .5rem;
}

.resultsNumber {
    margin-left: auto;
}

.sortBy {
    margin-left: auto;
}


.title{
    text-align: center;
}

.upload-wrapper {
    align-items: center;
}
.upload-form {
    display: flex;
    flex-direction: column;
    padding-top: .5rem;
    justify-content: center;
    width: 45%;
    margin: auto;
}

.upload-group {
    display: flex;
    flex-direction: row;
}

.upload-text {
    width: 50%;
    margin-left: 10%;
}
.upload-file {
    margin-left: 10%;
}

.upload-btn{
    margin-left: auto;
    width: 15%;
}

.home-title{
    text-align: center;
}
.home-description {
    text-align: center;
    padding: .5rem;
    margin: .5rem;
}

button {
    margin-left: 600px;
}

.bridge-img {
    margin-left: 150px;
    margin-top: -335px;
    width: 30%;
}

.contact-post {
    margin-top: 100px;
    margin-left: 600px;
}

.category-price {
    margin-left: 600px;
    padding-top: 100px;
}

.book-img {
    margin-left: 225px;
    margin-top: -425px;
    width: 25%;
}

.category {
    margin-left: 600px;
    padding-top: 190px;
}

.fields {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit-button {
    margin-top: 25px;
    margin-left: -460px;
}

.title {
    text-align: center;
}

.auth-inner {
    width: 450px;
    height: 400px;
    margin: auto;
    font-weight: 4000;
    margin-top: 100px;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
}

.auth-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}

.link {
    text-align: right;
    font-weight: 400;
    font-size: 12px;
}

.links {
    font-weight: 400;
    font-size: 12px;
}

.auth-inner1 {
    width: 450px;
    height: 650px;
    margin: auto;
    font-weight: 4000;
    margin-bottom: 100px;
    margin-top: 100px;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
}

.terms {
    font-weight: 400;
    font-size: 11px;
}

.auth-inner2 {
    width: 450px;
    height: 300px;
    margin: auto;
    font-weight: 4000;
    margin-bottom: 100px;
    margin-top: 100px;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
}

.auth-inner3 {
    width: 450px;
    height: 500px;
    margin-left: 500px;
    margin-top: 100px;
    font-weight: 4000;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
}

.test {
    margin-left: 600px;
}
