body {
  background-color: #E9D597;
  color: #231161;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button{
  margin-left: 600px;
}
.bridge-img{
  margin-left: 150px;
  margin-top: -335px;
  width: 30%;
}
.contact-post{
  margin-top: 100px;
  margin-left: 600px;
 
}
.category-price{
  margin-left: 600px;
  padding-top: 100px;
}
.book-img{
  margin-left: 225px;
  margin-top: -425px;
  width: 25%;
}
.category{
  margin-left: 600px;
  padding-top: 190px;
}
.fields{
  display: flex;
  flex-direction:column;
  align-items: center;
}
.submit-button{
  margin-top: 25px;
  margin-left: -460px;
}
.title{
  text-align: center; 
}
.auth-inner{
  width: 450px;
  height: 400px;
  margin: auto;
  font-weight: 4000;
  margin-top: 100px;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}
.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}
.link{
  text-align: right;
  font-weight: 400;
  font-size: 12px;
}
.links{
  font-weight: 400;
  font-size: 12px;
}
.auth-inner1{
  width: 450px;
  height: 650px;
  margin: auto;
  font-weight: 4000;
  margin-bottom: 100px;
  margin-top: 100px;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}
.terms{
  font-weight: 400;
  font-size: 11px;
}
.auth-inner2{
  width: 450px;
  height: 300px;
  margin: auto;
  font-weight: 4000;
  margin-bottom: 100px;
  margin-top: 100px;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}
.auth-inner3{
  width: 450px;
  height: 500px;
  margin-left: 500px;
  margin-top: 100px;
  font-weight: 4000;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}
.test{
margin-left: 600px;
}


